{{ define "content" }}
<div class="row">
    <div class="col-lg-12 mb-4">

        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"> + New Task</h6>
            </div>
            <div class="card-body">
                <form action="/add-new-task" method="post">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Title</label>
                        <input name="title" type="text" class="form-control" id="exampleFormControlInput1" placeholder="lorem ipsum">
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Açıklama</label>
                        <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Tarih</label>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="exampleFormControlSelect1">Gün</label>
                                <select name="day" class="form-control"                               id="exampleFormControlSelect1">
                                    {{ $currentDay := .CurrentTime.Day }}
                                    {{ range $index,$value := .DateNumber.Day }}
                                    <option {{ if eq $currentDay $value }} selected {{ end }} value="{{ $value }}">{{ $value }}</option>
                                    {{ end }}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="exampleFormControlSelect1">Ay</label>
                                <select name="month" class="form-control" id="exampleFormControlSelect1">
                                    {{ $currentMonth := .CurrentTime.Month }}
                                    {{ range $index,$value := .DateNumber.Month }}
                                        <option {{ if eq $currentMonth $value }} selected {{ end }} value="{{ $value }}">{{ $value }}</option>
                                    {{ end }}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="exampleFormControlSelect1">Yıl</label>
                                <select name="year" class="form-control" id="exampleFormControlSelect1">
                                    {{ $currentYear := .CurrentTime.Year }}
                                    {{ range $index,$value := .DateNumber.Year }}
                                        <option {{ if eq $currentYear $value }} selected {{ end }} value="{{ $value }}">{{ $value }}</option>
                                    {{ end }}
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="exampleFormControlSelect1">Başlangıç Saati</label>
                                <select name="starthour" class="form-control" id="exampleFormControlSelect1">
                                    {{ $currentHour := .CurrentTime.Hour }}
                                    {{ range $index,$value := .DateNumber.Hour }}
                                        <option {{ if eq $currentHour $value }} selected {{ end }} value="{{ $value }}">{{ $value }}</option>
                                    {{ end }}    
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="exampleFormControlSelect1">Bitiş Saati</label>
                                <select name="endhour" class="form-control" id="exampleFormControlSelect1">
                                    {{ $currentHour := .CurrentTime.Hour }}
                                    {{ range $index,$value := .DateNumber.Hour }}
                                        <option {{ if eq $currentHour $value }} selected {{ end }} value="{{ $value }}">{{ $value }}</option>
                                    {{ end }} 
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Rate</label>
                        <select name="rate" class="form-control" id="exampleFormControlSelect1">
                            <option value="none" selected>Rate Select</option>
                            <option class="bg-danger text-white" value="critical">Critical</option>
                            <option class="bg-warning text-white" value="normal">Normal</option>
                            <option class="bg-info text-white" value="low">Low</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Accept</button>
                </form>
            </div>
        </div>
    
    </div>
</div>

{{ end }}