{{ define "index" }}
<!DOCTYPE html>
<html lang="tr">
{{ template "head" }}
<body class="bg-gradient-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                                    </div>
                                    <form class="user" action="/create-account" method="post">
                                        <div class="form-group row">
                                            <div class="col-sm-12 mb-3 mb-sm-0">
                                                <input type="text" name="name" class="form-control form-control-user" id="exampleFirstName" placeholder="Name" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" name="email" class="form-control form-control-user" id="exampleInputEmail"
                                                placeholder="Email Address" required>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <input type="password" name="pass" class="form-control form-control-user"
                                                    id="exampleInputPassword" placeholder="Password" required>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="password" name="rep-pass" class="form-control form-control-user"
                                                    id="exampleRepeatPassword" placeholder="Repeat Password" required>
                                            </div>
                                        </div>
                                        <button class="btn btn-outline-dark btn-user btn-block" type="submit"> Register Account</button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="/login">Already have an account? Login!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>     
    {{ template "scripts" }}
    {{ template "alert" .Alert }}
</body>
</html>
{{ end }}